.content {
    display: inline-block;
    background-image: linear-gradient(to right, #6300FF, #004BFF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.25rem;
    font-weight: bolder;
}
