.name {
    display: inline-block;
    background-image: linear-gradient(to right, #00DBDE, #FC00FF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bolder;
}
